<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>campha_moblie.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
				<key>dateExpires</key>
				<string>28/5/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>24.28.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCommon.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>24.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>11.28.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MapboxCoreMaps.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>11.28.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>38</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Turf.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F906596D3E35AA1A1E9979AA94A5E24CC90BC38</string>
						<key>dateExpires</key>
						<string>28/5/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>objective_c.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F4BF8GHX56</string>
						<key>name</key>
						<string>Bao Ngoc Dinh</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F4BF8GHX56.vn.gov.campha.camphaMoblie</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>F4BF8GHX56</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4b83d02c-4795-48bf-935e-b515f5b09796</string>
				<key>dateExpires</key>
				<string>28/5/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: vn.gov.campha.camphaMoblie</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F4BF8GHX56</string>
				<key>name</key>
				<string>Bao Ngoc Dinh</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
